<!DOCTYPE html>
<html>
<head>
  <title>Stripe subscribe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "stripe/subscribe/application", media: "all" %>
  <%= javascript_include_tag "stripe/subscribe/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
