<!DOCTYPE html>
<html>
<head>
  <title>Stripe subscribe</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "stripe/subscribe/application", media: "all" %>
  <%= javascript_include_tag "stripe/subscribe/application" %>
  <%= stripe_javascript_tag %>
</head>
<body>
  <div class="container-fluid">
    <div class="row pt-3">
      <main class="col" role="main">
        <%= yield %>
      </main>
    </div>
  </div>
</body>
</html>
